extends layouts/header.pug

block content 
    .container 
        .row#createnames
            .col-6
                .card
                    .card-body 
                        h1 #{character.name} Update
                        //- Form for editing the character
                        form(action=`/changeCharacter/${character.id}`, method="POST", class="my-4")
                            .form-group
                                label(for="name") Name:
                                input(type="text", name="name", id="name", class="form-control", value=character.name)
                            .form-group
                                label(for="house") House:
                                input(type="text", name="house", id="house", class="form-control", value=character.house)
                            .form-group
                                label(for="health") Health:
                                input(type="number", name="health", id="health", min="0", class="form-control", value=character.health)
                            .form-group
                                label(for="armor") Armor:
                                input(type="number", name="armor", id="armor", min="0", class="form-control", value=character.armor)
                            .text-center
                                button(type="submit" class="btn btn-primary mt-2") Update Character
