extends layouts/header.pug

block content 
    if(characters != null)
        .container.mb-5
            .card
                .card-body
                    h1.card-title Characters
        .container 
            .row
                each character in characters 
                    .col-4.mb-3 
                        .card
                            .card-body
                                h5.card-title(style="text-align:center") #{character.name}
                                p.card-text House: #{character.house}
                                p.card-text Health: #{character.health}
                                p.card-text Armor: #{character.armor}
                                a(href=`/editCharacter/${character.id}`, class="btn btn-success editButton", type="button", data-id=character._id) Edit
                                span(style="margin-right: 5px;")
                                a(href=`/deleteCharacter/:${character.id}`, class="btn btn-danger deleteButton", type="button", data-id=character._id) Delete
    if(weapons != null )
        .container.mb-5
            .card
                .card-body
                    h1.card-title Weapons
        .container 
            .row
                each weapon in weapons 
                    .col-4.mb-3 
                        .card
                            .card-body
                                h5.card-title(style="text-align:center") #{weapon.name}
                                p.card-text Damage: #{weapon.damage}
                                p.card-text Price: #{weapon.price}  
                                if(weapon.id!=0)
                                    a(href=`/editWeapon/${weapon.id}`, class="btn btn-success editButton", type="button") Edit
                                    span(style="margin-right: 5px;")
                                    a(href=`/deleteWeapon/:${weapon.id}`, class="btn btn-danger deleteButton", type="button") Delete